.fullContainer {
  display: flex;
  justify-content: center;
}

.app__map_info_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.app__country_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  height: 80%;
  animation: slide 0.5s ease-in;
  font-size: 45px;
}

.slide {
  transition: 2s ease;
  background: var(--color-platinum);
  transition: 2s ease;
}

.map__div {
  padding-top: 4 rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__wrapper {
  height: 100%;
  width: 100vh;
}

.flag__container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flag__container img {
  margin: 0 1rem;
}

.overlay__close {
  align-self: flex-start;
  font-size: 27px;
  margin-top: 1rem;
  color: var(--color-golden);
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
}

.overlay__close:hover {
  color: var(--color-grey);
}

.country_name {
  text-align: center;
}

.popup_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  line-height: 22px;
}

.values {
  text-align: right;
  margin-left: 15px;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
