@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Bebas Neue", serif;
  --font-alt: "Rubik", sans-serif;

  --color-golden: #dcca87;
  --color-black: #3a92cc;
  --color-gray: #545454;
  --color-platinum: #e4dbbc;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
